
<html ng-app="flickr">
<head>
    <title>Flickr</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-cookies.min.js"></script>

    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>



</head>
<body ng-controller="FlickrCtrl">

  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
   
      <a class="navbar-brand" href="#">My App</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <form class="navbar-form navbar-right" ng-submit="getPhotos(search,1,true)">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="search" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    
  <!-- Photo View  -->
  <div class="col-md-12 space2">
      <div class="col-md-3 " ng-repeat="photo in photos" ng-clock>
      <a href="javascript:void(0)" ng-click="openModal(photo)"> 
        <img class="fadOut space" ng-src="{{photo.url_m}}" height="250" width="250" ng-clock></a> 
         
      </div>
      <img ng-show="loading"  src="assets/img/loading.gif" height="80" width="80" ng-clock>
  </div>
  <!-- Photo End  -->

<!-- Modal  -->
   <div class="modal fade photoModal" id="modal" tabindex="-1" role="dialog" aria-labelledby="photoModelLable" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="photoModelLable">{{currentPhoto.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Owner: {{currentPhoto.owner}}</li>
          <li>Secret: {{currentPhoto.secret}}</li>
          <li>Server: {{currentPhoto.server}}</li>
          <li>Farm: {{currentPhoto.farm}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
   <!-- Modal End -->
</body>
      <script src="app/app.js"></script>
      <script src="app/controllers/flickr.js"></script>
      <script src="app/servies/flickerServie.js"></script>

</html>